<div container-fluid>
<div class="quote-details">
  <div class="row post-details">
    <div class="col-md-2">
      <!-- <p class=" author">By {{quote.author}}</p> -->
    </div>
    <div class="col-md-2">
      <!-- <p class="name">Posted by {{quote.name}}<span class="timeago">  {{quote.timePosted | timeAgo}}</span> </p> -->
    </div>
    <div class="col-md-8">
      <!-- <p class="quotestr">quote {{quote.quotestr}} </p> -->
    </div>
  </div>
</div>
</div>
<div class="votes row">
          <div class="col-md-4">
            <span class="upvotes">
              <!-- Upvotes: {{quote.upvotes}} -->
            </span>
          </div>
          <div class="col-md-4">
            <span class="downvotes">
              <!-- Downvotes: {{quote.downvotes}} -->
            </span>
          </div>
    
        </div>


 

     